@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1260px)
  .main-project-map
    width: 910px
    margin: -170px auto 0
  .main-list
    width: 900px
  .main-title
    font-size: 56px
  .header
    padding: 20px 0
  .main-item-title
    font-size: 24px
  .main-about-flex
    padding: 0
  .main-about
    padding: 200px 0 40px
  .main-about-item-text
    font-size: 16px
  .main-about-item
    padding: 0 25px
  .main-certificate
    padding: 40px 0
  .main-project
    padding: 80px 0 40px
  .pin_first
    top: 192px
    left: 192px
  .pin_second
    top: 202px
    left: 156px
  .pin_third
    top: 260px
    left: 68px
  .pin_fourth
    top: 260px
    left: 110px
  .pin_fifth
    top: 285px
    left: 173px
  .pin_sixth
    top: 252px
    left: 331px
  .pin_seventh
    top: 295px
    left: 220px
  .pin_eight
    top: 304px
    left: 142px
  .pin_ninth
    top: 318px
    left: 103px
  .pin_tenth
    top: 335px
    left: 75px
  .pin_eleventh
    top: 344px
    left: 189px
  .pin_twelfth
    top: 367px
    left: 85px
  .pin_thirteenth
    top: 367px
    left: 243px
  .pin_fourteenth
    top: 386px
    left: 130px
  .pin_fifteenth
    top: 388px
    left: 175px
  .pin_sixteenth
    top: 403px
    left: 74px
  .pin_seventeenth
    top: 409px
    left: 111px
  .pin_eighteenth
    top: 411px
    left: 44px
  .pin_nineteenth
    top: 436px
    left: 88px
  .pin_twentieth
    top: 439px
    left: 196px
  .pin_twentyfirst
    top: 399px
    left: 263px
  .pin_twentysecond
    top: 408px
    left: 327px
  .pin_twentythird
    top: 139px
    right: 145px
  .pin_twentyfourth
    top: 253px
    right: 308px
  .pin_twentyfifth
    top: 310px
    right: 447px
  .pin_twentysixth
    top: 330px
    right: 350px
  .pin_twentyseventh
    top: 300px
    right: 179px
  .pin_twentyninth
    top: 396px
    right: 162px
  .pin_twentyeight
    top: 380px
    right: 123px
  .pin_thirty
    top: 449px
    right: 385px
  .about-third-left
    margin: 0 50px 0 0
  .about-third-left_reverse
    margin: 0 0 0 50px
  .about-third-row_reverse .about-third-right
    padding-right: 0
  .about-third, .about-fifth, .about-second
    padding: 80px 0
  .employees-item
    min-height: auto
  .direction-item-content
    padding: 30px 25px
  .news-filter-link
    font-size: 13px
  .news-filter-item
    margin-left: 10px
@media only screen and (max-width : 992px)
  .header-right, .menu
    display: none
  .main-title
    padding-left: 0
  .main-list
    width: 700px
  .main-link
    padding: 20px
  .main-item-svg_first
    width: 210px
    right: 9px
    bottom: -62px
  .main-item-svg_second
    width: 210px
    right: 5px
    bottom: -60px
  .main-item-svg_third
    width: 200px
    right: 4px
    bottom: -89px
  .main-first
    padding: 150px 0 260px
  .header-logo, .footer-logo
    width: 153px
  .main-subtitle
    margin-left: 0
  .main-about-item
    padding: 0 10px
    height: 175px
  .main-about-list
    margin-top: 75px
  .main-about-item-text
    font-size: 14px
  .main-partner
    padding-top: 75px
  .main-project-map
    width: 720px
    margin-top: -100px
  .main-project-list
    margin-left: 0
  .main-project
    padding-top: 60px
  .header
    height: 80px
  .footer-right
    padding-left: 30px
    margin-left: 30px
  .footer-contact
    padding-left: 20px
    margin-left: 20px
  .footer-contact-link
    left: 60px
  .header-right-text
    color: rgba(255, 255, 255, 0.5)
  .phone
    padding: 0
    border: none
    margin-top: 35px
  .phone-link
    color: $white
  .mail
    padding: 0
  .main-project-pin
    display: none
  .header-btn
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
  .about-first
    padding: 60px 0
  .about-first-img
    margin: 50px 0
  .about-second-item
    padding-left: 15px
  .about-third-left
    width: 45%
  .about-third-left
    margin: 0 25px 0 0
  .about-third-title
    margin-bottom: 15px
  .about-third-text
    margin-top: 20px
  .about-third-left_reverse
    margin: 0 0 0 50px
  .about-third-link
    padding-right: 70px
  .about-third, .about-fifth, .about-second
    padding: 60px 0
  .about-third-container
    margin-top: 50px
  .about-second-list
    margin-top: 60px
  .about-second-item-number
    font-size: 58px
  .about-second-item-text
    font-size: 11px
  .about-fifth-item
    padding: 25px
  .about-fifth-list
    margin-top: 80px
  .employees
    padding: 80px 0
  .employees-block
    padding: 15px 20px
  .employees-popup-block
    margin: 30px
  .news
    padding: 80px 0 80px
  .news-item-block
    padding: 20px
  .news-filter-item
    margin-left: 15px
  .news-popup-container
    margin: 30px
  .news-popup-block
    padding: 30px 30px 0
  .news-popup-btns
    width: calc(100% + 60px)
    margin-left: -30px
  .news-content
    margin-top: 10px
  .contacts-left
    padding-left: 0
  .contacts-right
    padding-right: 0
  .contacts
    padding: 80px 0
  .direction-title
    font-size: 18px
  .direction
    padding: 80px 0
  .build
    padding-top: 80px
  .about-first-img_build
    margin: 80px 0 05px
  .project-search-text
    padding: 0
    margin-top: 80px
  .partners
    padding: 80px 0 50px
  .partners-list
    padding: 0
  .news-filter-link
    font-size: 10px
@media only screen and (max-width : 768px)
  .container
    padding: 0 30px
  .main-list
    width: 100%
    flex-wrap: wrap
    padding: 0 30px
    top: 90%
    transform: translate(-50%, 0)
  .main-item
    width: 100%
  .main-link
    padding: 30px 35px 35px
  .main-first
    padding: 90px 0 115px
  .main-item-title
    font-size: 28px
  .main-about
    padding: 760px 0 0
  .main-about-flex
    flex-direction: column
  .main-about-text
    margin: 65px 0 0
  .main-subtitle:before
    bottom: -30px
  .main-about-list
    flex-wrap: wrap
    margin-top: 35px
  .main-about-item
    width: 100%
    flex-direction: row
    align-items: center
    justify-content: flex-start
    height: auto
    border: none
    border-top: 1px solid rgba(44, 50, 73, 0.1)
    padding: 30px 0
  .main-about-item-block
    width: 80px
  .main-about-item-text
    font-size: 18px
    br
      display: none
  .main-certificate
    padding: 20px 0 5px
  .main-certificate-item
    width: calc(50% - 10px)
    margin-bottom: 15px
  .main-certificate-list
    flex-wrap: wrap
    margin: 70px 0 0
  .main-partner .container
    padding: 0
  .main-project-list
    width: 100%
    margin-top: 55px
  .main-project-item
    width: 50%
    padding-right: 10px
  .main-partner
    padding-top: 55px
  .main-project
    padding-top: 40px
  .main-project-map
    width: 410px
    margin-top: 0
  .footer-flex
    flex-direction: column
  .footer-left
    width: 100%
    padding: 40px 0
  .footer-right
    width: 100%
    margin-left: 0
    display: flex
    flex-direction: column
  .footer-list
    display: flex
    justify-content: space-between
    flex-wrap: wrap
  .footer-list-item
    width: 50%
  .footer-contact
    width: 100%
    padding-left: 0
    border: none
    border-top: 1px solid rgba(255, 255, 255, 0.1)
    padding-top: 35px
    margin-top: 40px
    margin-left: 0
  .footer-contact-link
    position: static
    left: 0
    top: 0
  .footer-left-text
    display: none
  .footer-left-text_mob
    display: block
  .footer-left-link
    margin-bottom: 0
  .footer-right
    padding: 35px 0 50px
  .footer-right:before
    left: -30px
    width: calc(100% + 60px)
  .footer-nav
    position: relative
  .about-first
    padding: 40px 0
  .about-first-img
    margin: 40px 0
  .about-first-text
    text-align: left
  .main-subtitle
    width: 100%
  .main-subtitle_center
    width: 100%
    text-align: left
  .main-subtitle_center:before
    left: 0
    transform: none
  .about-second-description
    text-align: left
    margin-right: 55px
  .about-second-item
    width: 50%
    padding-left: 30px
    height: 190px
    margin-bottom: 40px
  .about-second-list
    flex-wrap: wrap
    margin-top: 40px
  .about-second-item-number
    font-size: 68px
  .about-second-item-text
    font-size: 12px
  .about-second
    padding-bottom: 25px
  .about-third-row
    flex-direction: column
  .about-third-left
    width: calc(100% + 60px)
    margin: 0
  .about-third-container
    margin-top: 45px
  .about-third-right
    margin-top: 25px
  .about-third-link
    padding-right: 90px
  .about-third-row
    padding: 20px 0
  .about-third-right_reverse
    text-align: left
  .about-third-text
    margin-bottom: 30px
  .about-third
    padding-bottom: 30px
  .about-fourth-text
    text-align: left
  .about-fourth
    padding: 45px 0 40px
    background-position: left 33% center
  .about-fifth-item
    width: 100%
    margin: 0 0 10px 0
    min-height: auto
  .about-fifth-list
    margin-top: 60px
  .about-fifth-item
    padding: 25px 35px
  .about-fifth-title
    margin-bottom: 25px
  .about-fifth
    padding-bottom: 40px
  .employees
    padding: 50px 0
  .employees-item
    width: 100%
    margin-bottom: 30px
    margin-right: 0
    &:last-child
      margin-bottom: 0
  .employees-block
    height: auto
  .main-about-text
    margin-top: 50px
  .employees-list
    margin-top: 35px
  .employees-block
    padding: 17px 30px
  .employees-popup-content
    background: #ffffff
    padding: 25px 30px
  .employees-popup-item
    margin-bottom: 20px
  .news-filter
    width: 100%
    flex-direction: column
    align-items: flex-start
    margin-top: 65px
  .news-filter-item
    margin: 0 0 20px 0
  .news
    padding: 45px 0
  .main-about-flex
    position: relative
  .news-filter-item:last-child
    position: absolute
    top: 7px
    right: 3px
  .news-item
    width: 100%
    margin: 0 0 20px 0
  .news-item-block
    padding: 25px 30px
  .news-pages
    margin-top: 10px
  .contacts-flex
    flex-direction: column
  .contacts-left
    width: 100%
  .contacts-right
    width: 100%
    margin-top: 50px
  .contacts
    padding: 45px 0
  .contacts-left-block
    margin-top: 60px
    margin-right: 0
  .contacts-map
    margin-top: 50px
    width: calc(100% + 60px)
    margin-left: -30px
  .contacts-form
    margin-top: 60px
  .direction-item
    width: 100%
    margin: 0 0 30px 0
    height: 380px
    &:last-child
      margin-bottom: 0
  .direction-item-content
    padding: 40px
  .direction-list
    flex-wrap: wrap
    margin-top: 50px
  .direction
    padding: 50px 0
  .direction-title
    font-size: 28px
  .build
    padding-top: 50px
  .about-first-img_build
    margin: 60px 0 40px
  .build-content
    margin-top: -20px
    padding-bottom: 0
  .project-search
    width: 100%
    margin-top: 50px
  .project-search-text
    margin-top: 50px
  .partners-item
    flex-direction: column
    position: relative
  .partners-left
    width: 100%
    margin-right: 0
    padding: 20px 80px
  .partners
    padding: 50px 0 30px
  .partners-list
    margin-top: 70px
  .partners-right
    padding-top: 30px
  .partners-right
    position: static
  .partners-info
    width: calc(100% - 40px)
    transform: none
    top: -65px
    left: 20px
  .certificate .news-filter-item:last-child
    position: static
  .news-filter-link
    font-size: 14px
  .certificate-item
    width: calc(50% - 10px)
    margin-right: 0
    padding: 0 0 10px
    &:nth-child(odd)
      margin-right: 20px
  .certificate-content
    margin-top: 30px
  .certificate-title
    margin-top: 25px
  .certificate-btns
    top: inherit
    bottom: 0
    transform: none
  .certificate-slider-relative
    margin: 40px
@media only screen and (max-width : 479px)
  .main-title
    font-size: 38px
    line-height: 1
  .container
    padding: 0 15px
  .main-list
    padding: 0 15px
  .main-link
    padding: 25px
  .main-project-map
    width: 290px
  .header-menu
    padding-left: 40px
    padding-right: 40px
  .mail-link, .phone-link
    font-size: 14px
  .main-item-title
    font-size: 24px
  .about-second-item-number
    font-size: 48px
  .about-second-item
    padding-left: 19px
  .about-second-item-text
    font-size: 11px
  .main-subtitle
    font-size: 28px
  .about-third, .about-fifth, .about-second
    padding: 30px 0
  .about-third-left
    width: calc(100% + 30px)
  .about-third-link
    padding-right: 70px
  .employees-popup-content
    padding: 25px 20px
  .employees-popup-item
    padding: 0 20px
  .news-popup-block
    padding: 25px 20px 0
  .news-popup-btns
    width: calc(100% + 40px)
    margin-left: -20px
  .contacts-map
    width: calc(100% + 40px)
    margin-left: -20px
  .direction-item-content
    padding: 25px
  .direction-title
    font-size: 24px
  .about-first-img_build
    height: 100vw
  .partners-left
    padding: 20px
  .partners-left
    padding: 20px